---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Main.layout.astro';
import ProductInfoDescription from '../../components/ProductInfoDescription.component.astro';
import Carousel from '../../components/Carousel.component.astro';
import Comments from '../../components/Comments.component.astro';
import RelatedProducts from "../../components/RelatedProducts.component.astro";

import getData from '../../js/services/getData.js';
import { CATEGORIES_URL, PRODUCT_INFO_URL, PRODUCT_INFO_COMMENTS_URL } from '../../js/constants/API.js';

const { id } = Astro.params;

const productInfo = await getData({ URL: PRODUCT_INFO_URL, endpoint: id });
const { name, currency, cost, description, category, soldCount, images } = productInfo;
const costWithCurrency = `${currency} ${cost}`;

const comments = await getData({ URL: PRODUCT_INFO_COMMENTS_URL, endpoint: id });

export const getStaticPaths = (async () => {
  const products = await getData({ URL: CATEGORIES_URL, endpoint: 'ALL' });

  return products.map(({ id }) => ({ params: { id: id }}));
}) satisfies GetStaticPaths;
---

<Layout>
  <div class="container d-flex flex-column align-items-center">
    <div
      class="row d-flex flex-column justify-content-center w-100 flex-md-row"
    >
      <Carousel images={images} />
      <ProductInfoDescription
        name={name}
        cost={costWithCurrency}
        description={description}
        category={category}
        soldCount={soldCount}
      />  
    </div>

    <Comments comments={comments} />
    
    <RelatedProducts /> 
    
  </div>
</Layout>