---
const { title, description, imageURL, altImage, id } = Astro.props;
---

<a  
  class="card mb-4 shadow-sm custom-card"
  id={id}
  href=`products/${title.toLowerCase()}.html`>
  <img
    class="bd-placeholder-img card-img-top"
    src={imageURL}
    alt={altImage}
    loading="lazy" />
  <h3 class="m-3">{title}</h3>
  <div class="card-body">
    <p class="card-text">
      {description}
    </p>
  </div>
</a>

<style>
  astro-card {
    cursor: pointer;
  }
</style>