---
const { id, name, currency, cost, soldCount, description, image } = Astro.props;
---

<a 
  class="list-group-item list-group-item-action cursor-active"
  id={id}
  href="/product-info.html">
  <div class="row d-flex flex-column flex-md-row">
    <div class="col col-md-3">
      <img src={image} alt={description} class="img-thumbnail">
    </div>
    <div class="col">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1 category-title">{name} <span class="d-none d-lg-inline"> - </span> <br class="d-lg-none" /> 
        <span class="text-secondary small-price">{currency + " " + cost}</span> </h4>
        <small class="text-muted">{soldCount} vendidos</small>
      </div>
      <p class="mb-1 d-none d-md-inline">{description}</p>
    </div>
  </div>
</a>